mixin tech-card-content(title, desc, img1, img2, badge, hoverBtn, hoverImg, toColor)
  div(class=`tech-card-content relative max-lg:max-w-[600px] mx-auto`)
    if badge
      div(class=`absolute top-5 z-1 left-[30px] max-md:left-0 max-md:top-2`)
        img(class="max-lg:h-[33px] max-md:h-[30px]" src="./img/"+badge, alt="", loading="lazy")

    div(class="group/card relative w-full flex items-end cursor-pointer")
      picture
        source(media="(max-width: 767px)" srcset="img/mob-"+img1)
        img(class="left-0 bottom-0 w-full -z-1" src="img/"+img1 loading="lazy")

      div(class=`
        absolute left-0 bottom-0 w-full flex justify-between items-center pl-[44px] pr-[80px] pb-[30px] gap-2.5  flex-wrap gap-x-2
        max-[1200px]:pr-[60px] max-[1200px]:pl-[40px] max-md:pr-[35px] max-md:pl-[30px]
      `)
        div(class=`
          text-[28px] italic font-black text-app-white uppercase 
          max-[1200px]:text-[18px] max-md:text-lg 
        `)!=title

        div(class=`
        w-[80px] h-[55px]  flex justify-center items-center bg-app-white rounded-[15px] transition duration-300 ease-in-out ${hoverBtn}
        max-[1200px]:w-[44px] max-[1200px]:h-[34px] max-[1200px]:rounded-[10px] max-md:w-[50px] max-md:h-[34px]
        `)
          img(class=`${hoverImg} max-[1200px]:w-[10px]` src="./img/arrow-purple.svg" loading="lazy")

    div(class=`
    relative py-7 max-md:pt-3.5 max-md:pb-[24px] pl-[48px] pr-[80px] max-lg:pl-[30px] max-lg:pr-[40px] max-md:pl-[38px] max-md:pr-[60px]
    text-app-white-secondary br-hidden-lg
    text-[19px] max-[1200px]:text-[12px] max-md:text-sm font-medium text-left
    max-md:border-b max-md:border-app-white/10
    max-md:w-[110%] max-md:translate-x-[-5%] max-md:bg-[#0E1923]/40 max-md:bg-linear-195 from-transparent from-50% ${toColor} 
    `)!=desc
      picture(class="max-md:hidden")
        source(media="(max-width: 1024px)" srcset="img/mob-"+img2)
        img(class="absolute left-0 bottom-0 w-full -z-2 max-lg:h-[300px]" src="img/"+img2 loading="lazy")

mixin tech-card-content-2(title, desc, img1, badge, hoverBtn, hoverImg, mobImg=false)
  div(class=`tech-card-content relative max-lg:max-w-[600px] mx-auto`)
    if badge
      div(class=`absolute top-5 z-1 left-[30px] max-lg:left-[20px] max-lg:top-2`)
        img(class="max-lg:h-[33px] max-md:h-[30px]" src="./img/"+badge, alt="", loading="lazy")

    div(class="group/card relative w-full flex items-end cursor-pointer")
      picture
        img(class="left-0 bottom-0 w-full -z-1" src="img/"+img1 loading="lazy")

      div(class=`
        absolute left-0 bottom-0 w-full flex justify-between items-center pl-[44px] pr-[80px] pb-[30px] gap-2.5  flex-wrap gap-x-2
        max-[1200px]:pr-[60px] max-[1200px]:pl-[40px] max-md:pr-[55px] max-md:pl-[30px]
      `)
        if title
          div(class=`
            text-[28px] italic font-black text-app-white uppercase 
            max-[1200px]:text-[18px] max-md:text-lg 
          `)!=title

        div(class=`
        w-[80px] h-[55px]  flex justify-center items-center bg-app-white rounded-[15px] transition duration-300 ease-in-out ${hoverBtn}
        max-[1200px]:w-[44px] max-[1200px]:h-[34px] max-[1200px]:rounded-[10px] max-md:w-[50px] max-md:h-[34px]
        ml-auto
        `)
          img(class=`${hoverImg} max-[1200px]:w-[10px]` src="./img/arrow-purple.svg" loading="lazy")

    div(class=`
    relative py-7 max-md:pt-3.5 max-md:pb-[24px] pl-[48px] pr-[80px] max-lg:pl-[30px] max-lg:pr-[40px] max-md:pl-[38px] max-md:pr-[60px]
    text-app-white-secondary br-hidden-lg
    text-[19px] max-[1200px]:text-[12px] max-md:text-sm font-medium text-left
    `)!=desc